body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f6f8;
}

.header {
    background: #2c7be5;
    color: white;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav {
    background: #1a68d1;
    padding: 10px;
    text-align: center; position: fixed;
    top: 150px; 
    width: 100%;
    z-index: 999;
}

.nav a {
    color: white;
    margin: 0 60px;
    text-decoration: none;
    font-weight: bold;
    gap: 50px;  
}

.nav a:hover {
    text-decoration: none;
    background-color: #174786;
    border: 2px solid none;
    border-radius: 3px;
    padding: 5px;
    box-shadow: #1a68d1;
}
.nav a:active{
    background: blue;
    color: orangered;
}

.content {
    padding: 40px;
    text-align: center;
    padding-top: 200px;
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background: #2c7be5;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #1a68d1;
}

.footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 1px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
